.s2-container{
    max-width: 1400px;
    width: 90%;
    margin: auto;
    padding: 10px 0 110px 0;
}

.s2-title h3{
    color: #280953;
    padding: 60px 0px;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}

.services-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    column-gap: 20px;
}

.flex-item{
    background-image: linear-gradient(180deg, #8247a7, #280953 73%);
    border-radius: 20px;
    padding: 80px 40px;
    max-width: 33.33333%;
}

.flex-item:nth-child(1){
    transition-delay: 100ms;
}

.flex-item:nth-child(2){
    transition-delay: 200ms;
}

.service-title, .service-subtitle, .service-text{
    margin: 20px 0 10px;
    font-weight: 200;
}

.service-title{
    font-size: 30px;
}

.service-subtitle{
    font-size: 20px;
}

.service-text{
    font-size: 14px;
    line-height: 24px;
}

.icons-services{
    font-size: 100px !important;
    cursor: default;
}

.icons-services::selection{
    display: none;
}

@media screen and (max-width: 616px) {
    .s2-title h3{
        padding: 50px 0;
        font-size: 30px;
    }

    .s2-container{
        padding-bottom: 70px;
    }

    .services-container{
        flex-direction: column;
        row-gap: 30px;
    }

    .flex-item{
        max-width: 100%;
    }
}